
  body {
    min-height: 100%;
    background-color: rgb(161, 151, 151);
    /* margin-bottom: 60px; */
  }

  .mb5rem{
    margin-bottom: 5rem !important;
  }

  .cards{
    border-left-width: 3px;
    border-right-width: 3px;
    border-color: rgb(108, 117, 125);
    border-radius: 10px;
    
  }

  .cardCount{
    color: aqua;
  }

  .cardPic {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.carouselImage{
  max-height: 80vh;
}
